:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --emptyCircle: #e1e1e1;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: var(--bg-secondary);
  margin: 0;
  padding: 0;
} 

p {
  text-align: center;
  color: var(--text-primary)
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: #1e1e24;
}

::-webkit-scrollbar-thumb {
  background: #6649b8;
}




main {
  background-color: var(--bg-secondary);
  margin-left: 6rem;
  padding: 1rem;
}



.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }


.navbar-nav {
  width: auto;
}

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 6rem;
    height: 100vh;
  }

  .navbar .logo svg
  {
    margin-left: 1.5rem;
  }


  .navbar-nav {
    width: 100%;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 13rem;
  }

  .navbar:hover .logo-text
  {
    left: 1rem;
  }
}

/* Themes */
.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --emptyCircle: #e1e1e1;
}

.light {
  padding-left: 1;
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
  --emptyCircle: #3d3d3d;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
  --emptyCircle: #3d3d3d;
}


/* General stuff */


.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

/* Main page */

.header {
  text-align: center;
  color: var(--text-primary)
}

.header1 {
  text-align: center;
  color: var(--text-primary)
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .header {
    text-align: center;
    color: var(--text-primary);
    font-size: 1.2em;
  }
  
  .header1 {
    font-size: 2.5em;
    line-height: 1em;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .header {
    text-align: center;
    color: var(--text-primary);
    font-size: 1.5em;
  }
  
  .header1 {
    font-size: 4em;
    line-height: 1em;
  }
}

.mainHead {
  background-color: var(--bg-primary);
}

/* Clock */
.clock {
  width: 80%;
  margin: auto;
}

.bin {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75vw;
}

.dec {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 7.0vw;
}

.hour1 {
  padding-right: 0.75%;
}

.hour2 {
  padding-left: 0.75%;
}

.minute1 {
  padding-right: 0.75%;
}

.minute2 {
  padding-left: 0.75%;
}

.second1 {
  padding-right: 0.75%;
}

.second2 {
  padding-left: 0.75%;
}

.bin-hour1 {
  padding-right: 0.75%;
  text-align: center;
}

.bin-hour2 {
  padding-left: 0.75%;
  text-align: center;
}

.bin-minute1 {
  padding-right: 0.75%;
  text-align: center;
}

.bin-minute2 {
  padding-left: 0.75%;
  text-align: center;
}

.bin-second1 {
  padding-right: 0.75%;
  text-align: center;
}

.bin-second2 {
  padding-left: 0.75%;
  text-align: center;
}

.dec-hour1 {
  padding-right: 0.75%;
  text-align: center;
}

.dec-hour2 {
  padding-left: 0.75%;
  text-align: center;
}

.dec-minute1 {
  padding-right: 0.75%;
  text-align: center;
}

.dec-minute2 {
  padding-left: 0.75%;
  text-align: center;
}

.dec-second1 {
  padding-right: 0.75%;
  text-align: center;
}

.dec-second2 {
  padding-left: 0.75%;
  text-align: center;
}

.modal-body {
  font-family:'Open Sans', sans-serif;
  font-size: 14px;
}

.modal-content {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.circle {
  border-radius: 50%;
  width: 100%;
  padding-top: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.inactive {
  background-color: transparent;
  border: solid 0px transparent;
}

.active {
  border: solid 0px;
}

.on {
  background-color: var(--text-secondary);
}

.off {
  background-color: var(--emptyCircle);
  opacity: 0.2;
}